{% extends "layout.html" %}

{% block content %}

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

<div id="join-form">
    <form action="" method="post">
        <input type="text" id="roomname" placeholder="Room Name">
        <input type="text" id="playername" placeholder="Player Name">
        <input type="button" value="Join" id="joinbtn">
    </form>
</div>

<div id="waitingroom">
    Room: {{roomname}}
    Players:
</div>
<div id=hostwait><input type="button" value="Start Game" id="startbtn"></div>

<div id="game">
    Game has startted. Your role is <div id="rolename"></div>
</div>

{% endblock%}